[submodule "images/machina-androguard"]
	path = images/machina-androguard
	url = https://github.com/ehrenb/machina-androguard.git
[submodule "images/machina-base"]
	path = images/machina-base
	url = https://github.com/ehrenb/machina-base.git
[submodule "images/machina-identifier"]
	path = images/machina-identifier
	url = https://github.com/ehrenb/machina-identifier.git
[submodule "images/machina-content-uri-analysis"]
	path = images/machina-content-uri-analysis
	url = https://github.com/ehrenb/machina-content-uri-analysis.git
[submodule "images/machina-exif"]
	path = images/machina-exif
	url = https://github.com/ehrenb/machina-exif.git
[submodule "images/machina-findurls"]
	path = images/machina-findurls
	url = https://github.com/ehrenb/machina-findurls.git
[submodule "images/machina-gzip"]
	path = images/machina-gzip
	url = https://github.com/ehrenb/machina-gzip.git
[submodule "images/machina-jar"]
	path = images/machina-jar
	url = https://github.com/ehrenb/machina-jar.git
[submodule "images/machina-similarity"]
	path = images/machina-similarity
	url = https://github.com/ehrenb/machina-similarity.git
[submodule "images/machina-ssdeep"]
	path = images/machina-ssdeep
	url = https://github.com/ehrenb/machina-ssdeep.git
[submodule "images/machina-tar"]
	path = images/machina-tar
	url = https://github.com/ehrenb/machina-tar.git
[submodule "images/machina-zip"]
	path = images/machina-zip
	url = https://github.com/ehrenb/machina-zip.git
[submodule "images/machina-binwalk"]
	path = images/machina-binwalk
	url = https://github.com/ehrenb/machina-binwalk.git
[submodule "images/machina-initializer"]
	path = images/machina-initializer
	url = https://github.com/ehrenb/machina-initializer.git
[submodule "images/machina-docs"]
	path = images/machina-docs
	url = https://github.com/ehrenb/machina-docs.git
[submodule "images/machina-bz2"]
	path = images/machina-bz2
	url = https://github.com/ehrenb/machina-bz2.git
[submodule "images/machina-base-ghidra"]
	path = images/machina-base-ghidra
	url = https://github.com/ehrenb/machina-base-ghidra.git
